.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
  gap: 10px;
}
.gallery-item {
    width: calc((100% - 24px ) / 3 );
}
.gallery-image {
   max-width: 100%;  
   height: auto;
}